[project]
name = "{{ python_package_distribution_name }}"
version = "0.1.0"
description = "{{ project_description }}"
authors = [
    {name = "aeins", email = "einsone@outlook.com"},
]
dependencies = []
requires-python = ">=3.11"
readme = "README.md"
license = {text = "MIT"}

[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"


[tool.pdm]
distribution = true
